<h1> Lista zadan na tablicy "<%= @board.name %>"</h1>
  <% @board.tasks.each do |t| %>
<div>
<table>
  <tr>
    <th> Tytuł </th>
    <th> Opis </th>
    <th> Zarchiwizowany </th>
    <th>Wykonawca</th>
  </tr>
  <tr>
    <td> <%= t.title %> </td>
    <td> <%= t.description %> </td>
    <td> <%= t.archived %> </td>
    <td> 
      <% if t.assigner.present? %> 
        <%= t.assigner.full_name %>
      <% end %>
    </td>
  </tr>
 
</table>
</div>
<br>
<% end %>