<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testowa.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @testowa.age %>
</p>

<%= link_to 'Edit', edit_testowa_path(@testowa) %> |
<%= link_to 'Back', testowas_path %>
